<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Developer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="available_books">Available Books</a>
        <a href="my_books">My Books</a>
        <a href="about_us">About</a>
        <a href="book_register">New Books Register</a>
            <a href="login">Login</a>
            <a href ="register">Register</a>

    </div>
</nav>

<div class="aboutus">
    <h1>About me</h1>
    <img src="developer.jpg" alt="Developer" style="max-width: 300px; margin-bottom: 20px;">
    <h2>Pratham Mishra</h2>
    <p>Pratham Mishra is a passionate web developer with over 5 years of experience in building responsive and user-friendly websites. He specializes in front-end development using HTML, CSS, and JavaScript, and he is proficient in various web development frameworks and libraries.</p>

    <h3>Skills</h3>
    <ul>
        <li>Java</li>
        <li>SpringBoot</li>
        <li>MongoDB</li>
        <li>HTML5</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>MySQL</li>
    </ul>

    <h3>Education</h3>
    <p>Bachelor of Computer Application in Data Science (In Progress)

        Currently pursuing a Bachelor's degree in Computer Application with a specialization in Data Science.
        Expected Graduation: [June 2024]
        Institution: [Shri Ramswaroop Memorial University]
        Secondary Education:


        Completed "Higher Secondary" education from Rani laxmi bai memorial school
        Percentage scored : 90%
        Graduation Year: [2021]

        Completed "Matriculation" education from Rani laxmi bai memorial school
        Percentage scored :92%
        Graduation Year: [2019]</p>

    <h3>Contact Information</h3>
    <p>Email: mishrapratham119@gmail.com</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/pratham-mishra-915902279/">LinkedIn</a></p>
    <p>GitHub: <a href="https://github.com/Prathammishra21">GitHub</a></p>
</div>

</body>
</html>