<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src ="script.js"></script>

    <title>Book Store</title>
</head>
<body>
<div class="full-screen-image">
    <img src="register.png" alt="Background Image">
</div>
<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="available_books">Available Books</a>
        <a href="my_books">My Books</a>
        <a href="about_us">About</a>
        <a href="book_register">New Books Register</a>

            <a href="login">Login</a>
            <a href ="Register">Register</a>

    </div>
</nav>

</div>
<div class="container10">
    <center> <h2>Book Information Form</h2></center>
    <form class="col-md-6 offset-md-3" th:action="@{/save}" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div class="form-group">
            <label for="edition">Edition:</label>
            <input type="text" id="edition" name="edition" required>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required>
        </div>
        <div class="form-group">
            <label for="publisher">Publisher:</label>
            <input type="text" id="publisher" name="publisher" required>
        </div>
        <center> <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>

            <button type="submit" value="Cancel" onclick="clearForm()">Cancel</button>
        </div></center>
    </form>
</div>

</body>
</html>
