<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="full-screen-image">
    <img src="bg.png" alt="bg page">
</div>

<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="available_books">Available Books</a>
        <a href="#My Books">My Books</a>
        <a href="#about">About</a>
        <div class="BookRegister">
            <a href="book_register">New Books Register</a>
        </div>
    </div>
</nav>
<div id="heading2">
    <h1>Book Information Table
</h1>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Edition</th>
        <th>Price</th>
        <th>Publisher</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Java Programming for Core and Advanced Learners</td>
        <td>Sagayaraj,Denis,Karthik and Gajalakshmi</td>
        <td>2023</td>
        <td>$10</td>
        <td>Universities Press</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Data Structures and Algorithm</td>
        <td>Kunal Kushwaha</td>
        <td>2024</td>
        <td>$21</td>
        <td>Rajeev Publications</td>
    </tr>
    </tbody>
</table>

</body>
</html>