<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="available_books">Available Books</a>
        <a href="my_Books">My Books</a>
        <a href="about_us">About</a>
        <div class="BookRegister">
            <a href="book_register">New Books Register</a>
        </div>
    </div>
</nav>

<!-- edit-book.html -->
<div class="container my-5 p-5" id="editBookContainer">
    <h4 class="text-center">Edit Book Here</h4>
    <form class="col-md-4 offset-md-4" id="editBookForm">
        <input type="hidden" name="id" id="bookIdInput">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" class="form-control" name="author" id="Author">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Edition</label>
            <input type="text" class="form-control" name="author" id="Edition">
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input type="text" class="form-control" name="price" id="Price">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Publisher</label>
            <input type="text" class="form-control" name="author" id="Publisher">
        </div>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
    </form>
</div>


    <div class="full-screen-image">
        <img src="/bg.png" alt="Background Image">
    </div>
</div>
<script src="/script.js"></script>
</body>
</html>