<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.com"
      th:fragment="layout(content)"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" th:href="@{/css/style_home.css}" />
</head>

<body>
<header>
    <nav>
        <div class="topnav">
            <a class="active" href="home">Home</a>
            <a href="available_books">Available Books</a>
            <a href="my_books">Out of stock</a>
            <a href="book_register">New Books Register</a>
            <div class="profile">
                <a href="profile">Profile</a>
            </div>
        </div>
    </nav>
</header>

<section id="hero">
    <div class="hero-content">
        <h2>Welcome to Ink and Paper Bookstore</h2>
        <p>Discover your next great read with us!</p><br>
        <a href="/available_books" class="btn">Explore Books</a>
    </div>
    <img class="half-image-page" th:src="@{/images/profilepg.png}" alt="Hero Image"/>
</section>


<section id="about">
    <h1>About Us</h1>
    <p>Welcome to Ink and Paper Bookstore, your one-stop destination for a wide range of books across various
        genres. Our bookstore is committed to providing book lovers with an enriching experience, whether you are
        searching for classics, bestsellers, or hidden gems.</p>
</section>

<section id="books">
    <h2>Discover Our Collection</h2>
    <p>Explore our curated collection of books, featuring the latest releases and timeless classics. From fiction to
        non-fiction, young adult to mystery, we have something for every reader.</p>
</section>

<section id="contact">
    <h2>Contact Us</h2>
    <p>Have a question or suggestion? Feel free to reach out to us!</p>
    <p>Email: mishrapratham119@gmail.com</p>
    <p>Phone: +91 8090141376</p>
</section>

<footer>
    <p>&copy; 2024 Ink and Paper Bookstore. All rights reserved.</p>
</footer>

</body>

</html>
