<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<nav>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="available_books">Available Books</a>
        <a href="my_books">My Books</a>
        <a href="#about">About</a>
        <div class="BookRegister">
            <a href="book_register">New Books Register</a>
        </div>
    </div>
</nav>

    <div class="full-screen-image">
        <img src="/bg.png" alt="Background Image">
    </div>
</div>



</body>
</html>