<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<!-- Create HTML registration form -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Registration</h1>

            <form id="registrationForm">
                <div class="form-group">
                    <label class="control-label" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control" type="text" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="lastName"> Last Name </label>
                    <input id="lastName" class="form-control" type="text" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label>
                    <input id="email" class="form-control" type="email" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="password"> Password </label>
                    <input id="password" class="form-control" type="password" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <button type="button" id="registerButton" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>
